.bs-example
{
    width: 100%;
    margin-left: 2%;
}

.accordionEventDate
{
    position:relative;
    float:left;
    width:10%;
    height: 100%;
    
    color: #555555;
    
    font-family:Sans-Serif;
    font-weight:bold;
    font-size:250%;
    text-align:center;
    line-height:250%
}

.accordionEventTitle
{
    position:relative;
    float:right;
    width:90%;
    height: 104px;
    
    color: #555555;
    
    border-left:1px solid black;
    
    font-family:Sans-Serif;
    font-weight:bold;
    font-size:100%;
    text-align:left;
    
}

.accordionEventTitle .text
{
    float:left;
    margin-left:1%;
}

.accordionEventTitle .image
{
    float:right;
    height: 200%;
    
    display: block; width: 140px; height: 105px;
    border-top-left-radius:300em !important;    
    
    background-size:140px 140px !important;
    background-repeat:no-repeat !important;
}

.panel-body p
{
    position:relative;
    float:left;
    width:80%;
}

.panel-body .image
{    
    float:right;
    
    margin-top:-15px;
    margin-right:1px;
    display: block; width: 140px; height: 35px !important;
    
    background-position: 0px -105px !important;
    
    background-size:140px 140px !important;
    background-repeat:no-repeat !important;
}

.panel-body a
{
    color: #7777FF !important;
}

.accordionEventTitle h1
{
    font-size:100%;
}

.panel-heading
{    
    height:115px;
    border:1px solid black;
    
}


.bs-example
{
    position: relative;
    float: left;
    width: 61%;
    margin-left: 2.5%;
}

.bs-example hr
{
	margin-bottom: -0.5%;
	width:100%;	
}

.bs-example h3{
	margin-top: 2px;
}

.bs-example .carousel_number{
	margin-top:1%;
	text-align:center;
}

.bs-example .number{
	color:#A9A9A9;
}

.bs-example .number:hover{
	color: #696969;
}
